.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
 
}

.main-content {
  flex: 1; /* Allow main content to grow and fill remaining space */
  overflow-x: hidden; /* Hide horizontal overflow */
  overflow-y: auto; /* Add vertical scroll if necessary */

}

.Footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
 
}
.Navbar{
  padding: 20px;
}

.wrapper {
  position: relative;
  transition: filter 0.3s ease-out; /* Smooth transition for filter effect */
}



.wrapper.blur {
  filter: blur(10px); /* Apply blur effect */
  position: fixed;
}

.CookieConsentModal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  z-index: 1000;
}

